body {
    background-color: antiquewhite;

}
body h1 {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
body div {
    display: flex;
    justify-content: center;
}
#results {
    margin-left: 10px;
}
#buttonsPlay {
    display: flex;
    justify-content: center;
}
#buttonsPlay button {
    margin: 10px;
}